line {
  stroke-width: 2;
  stroke: #E5E5E5;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background: url(texture-noise.png);

}

text {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
}

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  position: absolute;

  top: 0;
  width: 100%;
}

.left-nav{
  width: 30%;
  padding-left: 10%;
}
 .title {
  color: black;
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 0;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
 }

 .description {
   font-size: 15px;
   font-weight: 200;
   margin-top: 0;
   margin-bottom: 10px;
   border-bottom: solid 1px #ebebeb; 
   width: 200px;
   color: #999;

 }
 

 .icon {
   font-size: 20px;
   color: black;
   margin-left: 15px;
 }

 .waves-effect {
   color: black;
   font-size: 20px;
   background: none;
   border-style: none;
   border: 0;
   box-shadow: none;
 }

 .waves-effect:hover {
   background-color: #40d9ac;
 }

 .modal-content {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  align-content: center;
  text-align: center;
  justify-content: center; 
  margin-left: 15%;
  margin-right: 15%;

 }

 .modal-title {
   font-size: 36px;
 }

 .modal-description {
   
   font-size: 20px;
 }

