

body {
  margin: 0;
  padding: 0;
  position: relative;
  /* background: url(texture-noise.png); */
  background: #14171A;
}

text {
  font-family: 'Staatliches', cursive;
  font-weight: 200;
  color: #1DA1F2;
}

.main {
  display: flex; 
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
  color: #1DA1F2;

}

.navbar {
  font-family: 'Staatliches', cursive;
  height: 100vh;
  /* background: blue;  */
  width: 450px;
}

.left-nav{
  width: 30%;
  padding-left: 10%;
}
 .title {
  /* color: black; */
  color: #1DA1F2;
  font-size: 50px;
  font-weight: 200;
  margin-bottom: 0;
  text-shadow: 1px 1px 1px #1DA1F2;
 }

 .description {
   font-size: 15px;
   font-weight: 200;
   margin-top: 0;
   margin-bottom: 10px;
   border-bottom: solid 1px #657786; 
   width: 200px;
   color: #AAB8C2;

 }
 

 .icon {
   font-size: 20px;
   /* color: black; */
   margin-left: 20px;
 }

 .waves-effect {
   /* color: black; */
   margin-left:10%;
   font-size: 60px;
   padding: 0px 20px;
   background: none;
   border-style: none;
   border: 0;
   box-shadow: none;
 }

 .waves-effect:hover {
   background-color: #657786;
   border-radius: 25px;
 }

 .modal-content {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  align-content: center;
  text-align: center;
  justify-content: center; 
  margin-left: 15%;
  margin-right: 15%;

 }

 .modal-title {
   font-size: 36px;
 }

 .modal-description {
   font-size: 20px;
 }


 .song-info {
  margin-left: 10%;
  margin-top: 5%;
  width: 400px; 
 }

 #song-img {
   width: 300px;
   height: 300px;
   border: solid 3px #1DA1F2; 
   box-shadow: 0 6px 8px #1DA1F2;
 }
 .svg {
   height: 90vh;
   width: 900px;
   /* background: green; */
   border: solid 3px #1DA1F2; 
   box-shadow: 0 6px 8px #1DA1F2;

 }